﻿<div class="umb-panel" ng-controller="Similarity.SearchController">
		<div class="umb-panel-body with-footer">	
			<h4>Items similar to ({{currentDocName}})</h4>	
			<ul class="umb-tree">
				<li class="root">
		            <ul class="umb-search-group">		            
		                <li ng-repeat="result in results">
		                    <div style="padding-left: 20px">
		                        <a title="{{result.displayPath}}" ng-class="{first:$first}" ng-click="selectResult(result)">
		                            <i class="icon umb-tree-icon sprTree {{result.icon}}"></i>
		                            {{result.name}}
		                            <small class="search-subtitle" ng-show="result.subTitle">
		                            	{{result.subTitle}}
		                            </small>
		                        </a>
		                    </div>
		                </li>
		            </ul>			
	            </li>	
			</ul>			
			<div ng-show="loading">
				<img src="/umbraco/assets/img/loader.gif"/>
				<p>Processing...</p>	
			</div>
		</div>	

		
		<div class="umb-panel-footer">
	        <div class="umb-el-wrap umb-panel-buttons">
	            {{opt.filter | json}}
		        <div class="btn-toolbar umb-btn-toolbar pull-right">
	                <a href ng-click="close()" class="btn btn-link">
	                    Done
	                </a>
	            </div>
	        </div>
	    </div>	
</div>