﻿<div class="umb-editor umb-select" ng-controller="Similarity.DocTypeController">
		<div>			
			<select ng-change="docTypeChange(model.value.selectedDocTypes)" ng-model="model.value.selectedDocTypes" class="umb-editor umb-dropdown" ng-options="docType.documentTypeId as docType.documentTypeAlias for docType in docTypes" multiple>				
			</select>			
		</div>
</div>