﻿<div class="umb-editor umb-select" ng-controller="Similarity.DocTypePropertiesController">
		<div>			
			<select multiple ng-model="model.value.selectedDocTypeProperties" ng-options="docTypeProperty.id as docTypeProperty.alias for docTypeProperty in docTypeProperties">				
			</select>
		</div>
</div>