﻿<div class="umb-editor umb-checkboxlist" ng-controller="similarity.indexController">
		<div>			
			<select ng-model="model.value.index" class="umb-editor umb-dropdown" ng-options="o for o in indexes">				
			</select>
		</div>
</div>