<div ng-controller="similarity.PropertyEditors.ContentPickerController" class="umb-editor umb-contentpicker">

	<ul class="unstyled list-icons" 
		ui-sortable
		ng-model="renderModel">	
		<li ng-repeat="node in renderModel">

			<i class="icon icon-navigation handle"></i>

			<a href="#" prevent-default ng-click="remove($index)">
				<i class="icon icon-delete red hover-show"></i>
				<i class="{{node.icon}} hover-hide"></i> 
					{{node.name}}
			</a>
		</li>
	</ul>

    <ul class="unstyled list-icons">	
        <li>
            <i class="icon icon-add blue"></i>
            <a href="#" ng-click="openContentPicker()" prevent-default>
                Find Similar
            </a>
        </li>
    </ul>    
</div>