﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Similarity.Search

@functions {
    private IEnumerable<string> GetDocTypeAliases(string[] docTypeIds)
    {
        var docTypes =new List<string>();
        foreach (var docTypeId in docTypeIds)
        {
            var docType = ApplicationContext.Current.Services.ContentTypeService.GetContentType(int.Parse(docTypeId));
            docTypes.Add(docType.Alias);
        }

        return docTypes;
    }
}

<div class="relatedSearchBlanket">
    <!-- full similar search using parameters passed into the macro -->
    <h1>related search partial macro</h1>
    @{
        var properties = Model.MacroParameters["Properties"].ToString().Split(',');

        var docTypes = GetDocTypeAliases(Model.MacroParameters["DocTypesToSearchOn"].ToString().Split(','));

        string index = Model.MacroParameters["IndexToSearch"].ToString();
		
        int maxNo = int.Parse(Model.MacroParameters["MaxNo"].ToString());
		
        string query = string.Empty;
        
        using (var moreLikeThis = new MoreUmbracoDocsLikeThis(Model.Content.Id, index, maxNo, properties, docTypes))
        {
            var similardocs = moreLikeThis.FindMoreLikeThis(out query);
            @Html.Hidden("query",query)
            foreach (var result in similardocs)
            {
                <p>@result.PageName</p>
            }    
        }

    }
</div>

<div class="dataTypeSearch">
    <!-- the similar search has been done on the document and user has picked some items as similar -->   
    <h2 class="major"><span>Similar docs</span></h2>
@{
    if (Model.Content.GetProperty("similarDocuments").HasValue)
    {
        var docs = Model.Content.GetPropertyValue<Similarity.ValueConverter.Similar>("similarDocuments");

        foreach (var publishedContent in docs.SimilarDocs)
        {
            <p><a href="@publishedContent.Url">@publishedContent.Name</a></p>
        }
    }    
}

</div>

